

.category{
    align-items: center;
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: space-evenly;
    min-height: 480px;
    padding: 20px 15px;
    width: 90%;
}

.category h2{
    width: 100%;
}