


.ItemDetail{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 15px;
}

.ItemDetail img{
    width: 45%;
    border-radius: 15px;
    box-shadow: 10px 10px 25px .5px;
}

.ItemDescription{
    color: #ffffff;
    width: 45%;
    padding: 15px 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.ItemDescription p{
    text-align: left;
    font-size: 18px;
}

